feedparser
Flask
langchain
langchain-openai
langchain-core
gradio
# ASGI server and middleware for async support
starlette
uvicorn[standard]
openai
PyYAML
psycopg2-binary
requests
SQLAlchemy
pydantic==2.6.2


# necessary for langchain
langchain-community
langchain-openai