feedparser
fastapi
langchain==0.3.26
langchain-openai==0.3.27
gradio
# ASGI server and middleware for async support
starlette
uvicorn[standard]
openai==1.93.0
PyYAML
psycopg2-binary
requests
SQLAlchemy
pydantic==2.11.7


# necessary for langchain
langchain-community==0.3.26